.hoursSummarySection {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.headerSection {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.summaryContent {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0 0;
}

.aiGeneratedContentText {
    font-size: 13px;
    font-weight: 500;
    color: #666;
    line-height: 20px;
}
