.totalTimeSpentSection {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

.headerSection {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.contentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.timeSpentSection {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

.timeSpentSummarySection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.timeSpentDetailsChartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.timeSpentDetailsText {
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  font-size: 14px;
}

.dateValue {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.dateLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 2px;
}

.hoursValue {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 5px;
}

.hoursLable {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 2px;
}

.chartSection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.totalTimeSeparator {
  position: relative;
  display: flex;
  align-items: stretch;
}

.totalTimeSeparator::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #c7c7c7;
  height: 100%;
}
