.pageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    padding: 24px;
    border-radius: 12px;
    background-color: #f5f5f5;
}

.pageTitle {
    font-size: 32px;
    color: #f39c12;
    margin-bottom: 18px;
    text-align: center;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 50vh;
}