.inputContainer {
  border-radius: 12px;
  width: 100%;
  max-width: 900px;
}

.passwordWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 8px 36px 8px 10px;
  font-size: 16px;
}

.toggleIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
