.inputContainer {
  width: 100%;
  max-width: 900px;
}

.passwordWrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.toggleIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
