.container {
  position: fixed;
  z-index: 9999;
  width: fit-content;
}

.right {
  right: 15px;
}

.left {
  left: 15px;
}

.sideButton {
  width: fit-content;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.rightButton {
  transform: rotate(-90deg);
  transform-origin: right center;
}

.leftButton {
  transform: rotate(90deg);
  transform-origin: left center;
}
