.quickOverview {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.headerSection {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.contentSection {
    display: flex;
}

.contentSectionLeftDetails {
    display: flex;
}

.contentSectionRightDetails {
    display: flex;
}

.summaryContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
