.totalTimeComparisonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.lastWeekSection {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
