.totalTimeSpentSection {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.headerSection {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.timeSpentSection {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.totalTimeSeparator {
  position: relative;
  display: inline-block;
  width: 1px; 
  height: 100%; 
}
