.goalSection {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.headerSection {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.contentSection {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}

.contentSectionLeftDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 160px;
    width: 100%;
}

.contentSectionRightDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 160px;
    width: 100%;
}

.miniCharts {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
    padding-left: 30px;
}

.sevenDayLineChart {
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.goalSummarySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.miniChartBox {
    position: relative;
    flex: 1;
    height: 50px;
    background-color: #d6ffd8;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    transition: all 0.2s ease;
}

.miniChartBox:hover {
    background-color: #b2ffb6;
    transform: scale(1.05);
}

.daysOfWeek {
    font-size: 12px;
    font-weight: 600;
}

.aiGeneratedIndicator {
    font-size: 12px;
    font-weight: 600;
    color: #858585;
}
