.appContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    padding: 24px;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
