
.historyActionPopupPanel {
    position: absolute;
    top: 130px;
    right: 0px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.actionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.4;
  font-size: 14px;
}

.actionItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.deletionActionItem {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  display: flex;       
  flex-direction: column;   
}

.deletionActionItem::before {
  content: "";
  flex-grow: 1;           
  height: 1px;
  background-color: #ccc;
}

.historyActionPopupBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}