.pageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    padding: 25px 25px 60px 25px;
    background-color: rgb(255, 255, 255);
    min-height: 368px;
}

.pageTitle {
    font-size: 32px;
    color: #f39c12;
    margin: 40px 0;
    text-align: center;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 50vh;
}