.mainContainer {
  display: flex;
  min-height: 100vh;
}

.authContainer {
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: absolute;
  overflow: hidden;
  width: 50%;
  max-width: 100%;
  top: 12%;
  min-height: 50%;
  height: 60vh;
  margin: 100px 0;
  left: 25%;
}

.errorMessage {
  color: rgb(243, 61, 61);
  font-weight: 600;
}

.message {
  color: rgb(243, 61, 61);
  font-size: 12px !important;
  font-weight: 600;
  margin: 20px 0 !important;
  width: 100%;
}

.selectingProfilePic {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selectingProfilePic img {
  margin: 0 10px;
}

.loadingSpinner {
  display: inline-block;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #037030;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 10px;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #21c372;
  color: #fff;
  font-size: 15px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.loading {
  border-color: #a0d3b2 !important;
  color: #9e9e9e  !important;
  background-color: #afd4c2  !important;
}

.rememberSection {
  display: flex;
  align-items: center;
}

.rememberSection label {
  padding: 0 10px;
  font-size: 14px;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #e8f0fe;
  border: none;
  margin: 5px 0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signIn {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .signIn {
  transform: translateX(100%);
}

.signUp {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .signUp {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.toggleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 100px 0 0 100px;
  z-index: 1000;
  /* animation: .6s sign-up-animation ease-out forwards; */
}

.container.active .toggleContainer {
  transform: translateX(-100%);
  border-radius: 0 100px 100px 0;
  /* animation: .6s sign-in-animation forwards; */
}

.toggle {
  height: 100%;
  background: linear-gradient(to right, #000000, #fffefb);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.authBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* keep image aspect ratio */
  opacity: 0.3; /* optional: fade image into background */
  z-index: 0;
  transform: scaleX(-1);
}

.container.active .toggle {
  transform: translateX(50%);
}

.togglePanel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 30px; */
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.togglePanel img {
  height: 200px;
  padding-top: 2em;
}

.toggleLeft {
  transform: translateX(-200%);
}

.container.active .toggleLeft {
  transform: translateX(0);
}

.toggleRight {
  right: 0;
  transform: translateX(0);
}

.container.active .toggleRight {
  transform: translateX(200%);
}

@keyframes move {
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* 
@keyframes sign-up-animation {
    0% {
    clip-path: path(' M0 0        L0 595 L320 595        C100 350, 790 770, 780 750       C395 470, 395 455, 380 440        C380 65, 380 900, 980 0                      L0 0 L0 0 L0 0Z ');
  }
  50% {
    clip-path: path(' M0 1500     L800 0 L0 0            C0 585, 0 570, 0 550             C0 0, 0 0, 0 0                    C0 0, 0 0, 0 0           C0 0, 0 0, 0 0     L0 0 L0 0 L0 0  Z ');         
  }
  100% {
    clip-path: path(' M20 0       L0 0 L0 0              C10 10, 10 15, 20 25             C10 175, 10 180, 20 190          C35 400, 35 405, 20 415                      L0 570 L480 550 L480 0  Z ');
  }
}

@keyframes sign-in-animation {
    0% {
    clip-path: path(' M20 0       L0 0 L0 0              C10 10, 10 15, 20 25             C10 175, 10 180, 20 190           C35 400, 35 405, 20 415                     L0 570 L480 550 L480 0  Z ');
  }
  50% {
    clip-path: path(' M0 1500     L800 0 L0 0            C0 585, 0 570, 0 550             C0 0, 0 0, 0 0                    C0 0, 0 0, 0 0           C0 0, 0 0, 0 0     L0 0 L0 0 L0 0  Z ');                
  }
  100% {
    clip-path: path(' M0 0        L0 595 L320 595        C100 350, 790 770, 780 750       C395 470, 395 455, 380 440        C380 65, 380 900, 980 0                      L0 0 L0 0 L0 0Z ');
  }
} */















/* 
.toggleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out; */
  /* border-radius: 100px 0 0 100px; */
  /* z-index: 1000; */
  /* clip-path: path("M 0,80 L 0,40 L 70,40  A 10,10 0,0,0 80,30 L 80,10 A 10,10 0,0,1 90,0 L 650,0 L 650, 0 L 650,555 L 140,555 L 0,555 L 0,190 L 0,50 L 10,40 L 0,80Z"); */
  /* clip-path: polygon(22% 0%, 27% 2%, 31% 8%, 29% 10%, 24% 11%, 9% 12%, 3% 13%, 0% 17%, 1% 22%, 6% 24%, 13% 24%, 39% 24%, 44% 26%, 48% 29%, 49% 34%, 48% 39%, 45% 41%, 38% 41%, 30% 41%, 24% 41%, 16% 40%, 10% 42%, 7% 44%, 6% 47%, 7% 51%, 12% 53%, 19% 54%, 25% 54%, 31% 55%, 33% 59%, 32% 63%, 27% 64%, 8% 64%, 5% 66%, 3% 68%, 3% 70%, 7% 72%, 38% 73%, 43% 74%, 42% 77%, 39% 80%, 34% 81%, 13% 82%, 9% 82%, 7% 84%, 7% 88%, 10% 92%, 17% 94%, 26% 94%, 31% 94%, 42% 94%, 47% 94%, 45% 97%, 42% 99%, 39% 99%, 34% 100%, 100% 100%, 100% 1%);
}

.container.active .toggleContainer {
  transform: translateX(-100%);
  border-radius: 0 100px 100px 0; */
  /* clip-path: path("M 10,40 L 70,40 L 80,30 L 80,10 L 90,0 L 140,0 L 150, 10 L 150,190 L 140, 200 L 10,200 L 0,190 L 0,50 L 10,40 Z"); */
  /* clip-path: polygon(82% 0%, 79% 0%, 76% 2%, 76% 4%, 78% 6%, 82% 6%, 86% 6%, 92% 6%, 96% 7%, 98% 12%, 98% 18%, 95% 19%, 88% 19%, 81% 19%, 74% 19%, 65% 20%, 59% 21%, 56% 23%, 56% 25%, 58% 28%, 63% 30%, 67% 30%, 73% 30%, 82% 30%, 87% 31%, 88% 35%, 86% 37%, 81% 37%, 61% 37%, 55% 37%, 52% 39%, 52% 42%, 55% 46%, 63% 47%, 77% 47%, 89% 48%, 94% 50%, 96% 53%, 95% 59%, 93% 61%, 87% 63%, 80% 62%, 73% 61%, 69% 62%, 68% 67%, 72% 69%, 78% 69%, 84% 70%, 89% 69%, 93% 70%, 96% 74%, 94% 78%, 88% 79%, 83% 79%, 76% 79%, 67% 80%, 60% 81%, 59% 86%, 62% 91%, 68% 92%, 73% 93%, 78% 92%, 81% 93%, 84% 95%, 84% 98%, 83% 99%, 0% 100%, 0% 0%);
} */











/* @keyframes melt-enter {
  0% { */
    
     /* clip-path: path(' M20 0 C10 10, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 00 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 50 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 L0 0 L0 0 Z '); */
     /* clip-path: path(' M0 0        C0 10, 0 15, 0 25       C0 35, 0 40, 0 50         C0 60, 0 65, 0 75        C0 85, 0 90, 0 100                                                                            C0 110, 0 115, 0 125      C0 135, 0 140, 0 150       C0 140, 0 155, 0 165       C0 175, 0 180, 0 190      C0 200, 0 205, 0 215                                                                                                     C0 255, 0 230, 0 240    C0 250, 0 255, 0 265     C0 275, 0 280, 0 290            C0 300, 0 305, 0 315        C0 325, 0 330, 0 340                                                                                                                                                  C0 350, 0 355, 0 365       C0 375, 0 380, 0 390       C0 400, 0 405, 0 415       C0 425, 0 430, 0 440      C0 450, 0 455, 0 460          C0 470, 0 475, 0 485                C0 495, 0 500, 0 510      C0 520, 0 525, 0 530         C0 540, 0 545, 0 550        C0 560, 0 565, 0 570         C0 580, 0 585, 0 595       L0 570 L0 550 L0 0 Z '); */
     /* clip-path: path(' M0 0        C0 10, 0 15, 0 25       C0 85, 0 90, 0 100       C0 175, 0 180, 0 190              C0 200, 0 205, 0 215           C0 350, 0 355, 0 365       C0 375, 0 380, 0 390       C0 400, 0 405, 0 415              C0 495, 0 500, 0 510      C0 520, 0 525, 0 530            L0 570 L0 550 L0 0 Z '); */

  /* }
  100% { */
 
     /* clip-path: path(' M20 0    C10 10, 10 15, 20 25    C30 35, 30 40, 20 50    C5 60, 5 65, 20 75    C35 85, 35 90, 20 100                                     C15 110, 15 115, 20 125       C25 135, 25 140, 20 150       C30 140, 30 155, 30 165       C10 175, 10 180, 20 190       C30 200, 30 205, 20 215                                  C5 225, 5 230, 20 240        C35 250, 35 255, 20 265     C15 275, 15 280, 20 290     C25 300, 25 305, 20 315    C10 325, 10 330, 20 340                                                                                                                                         C30 350, 30 355, 20 365    C5 375, 5 380, 20 390    C35 400, 35 405, 20 415       C15 425, 15 430, 20 440       C25 450, 25 455, 20 460      C10 470, 10 475, 20 485       C30 495, 30 500, 20 510        C5 520, 5 525, 20 530         C35 540, 35 545, 20 550     C15 560, 15 565, 20 570      C25 580, 25 585, 20 595    L0 570 L480 550 L480 0  Z '); */
     /* clip-path: path(' M20 0       C10 10, 10 15, 20 25    C35 85, 35 90, 20 100      C10 175, 10 180, 20 190       C30 200, 30 205, 20 215             C30 350, 30 355, 20 365    C5 375, 5 380, 20 390    C35 400, 35 405, 20 415             C30 495, 30 500, 20 510        C5 520, 5 525, 20 530           L0 570 L480 550 L480 0  Z '); */

     /* clip-path: path(' M0 0 C10 0, 0 0, 0 0 C30 0, 0 0, 0 0 C5 0, 0 0, 0 0 C35 0, 0 0, 0 0 C15 0, 0 0, 0 0 C25 0, 0 0, 0 0 C0 0, 0 0, 00 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 C0 0, 0 0, 0 0 L0 570 L480 550 L480 0 Z '); */

/* 
  }
} */










/* 
@keyframes melt-leave {
  0% { */
  
    /* clip-path: path(' M00 0 L0 595 L320 595 C390 585, 390 580, 380 570 C370 560, 370 555, 380 550 C395 540, 395 535, 380 530 C370 520, 370 515, 380 510 C390 500, 390 495, 380 485 C375 475, 375 470, 380 460 C395 450, 395 445, 380 440 C370 430, 370 425, 380 415 C390 405, 390 400, 380 390 C370 380, 370 375, 380 365 C395 350, 395 345, 380 340 C370 330, 370 325, 380 315 C390 300, 390 295, 380 290 C370 280, 370 275, 380 265 C395 250, 395 245, 380 240 C370 230, 370 225, 380 215 C390 200, 390 195, 380 190 C370 180, 370 175, 380 165           L380 0 Z '); */
    /* clip-path: path(' M0 0 L0 595 L320 595 C390 585, 390 570, 380 550 C370 530, 370 515, 380 490 C395 470, 395 455, 380 440 C370 425, 370 410, 380 390 C395 370, 395 355, 380 340 C370 325, 370 310, 380 290 C395 270, 395 255, 380 240 C370 225, 370 210, 380 190 C380 165, 380 0, 380 0 Z '); */
    /* clip-path: path(' M20 0 C10 10, 10 15, 20 25 C30 35, 30 40, 20 50 C5 60, 5 65, 20 75 C35 85, 35 90, 20 100 C15 110, 15 115, 20 125 C25 135, 25 140, 20 150 C30 140, 30 155, 30 165 C10 175, 10 180, 20 190 C30 200, 30 205, 20 215 C5 225, 5 230, 20 240 C35 250, 35 255, 20 265 C15 275, 15 280, 20 290 C25 300, 25 305, 20 315 C10 325, 10 330, 20 340 C30 350, 30 355, 20 365 C5 375, 5 380, 20 390 C35 400, 35 405, 20 415 C15 425, 15 430, 20 440 C25 450, 25 455, 20 460 C10 470, 10 475, 20 485 C30 495, 30 500, 20 510 C5 520, 5 525, 20 530 C35 540, 35 545, 20 550 C15 560, 15 565, 20 570 C25 580, 25 585, 20 595 L380 595 C390 585, 390 580, 380 570 C370 560, 370 555, 380 550 C395 540, 395 535, 380 530 C370 520, 370 515, 380 510 C390 500, 390 495, 380 485 C375 475, 375 470, 380 460 C395 450, 395 445, 380 440 C370 430, 370 425, 380 415 C390 405, 390 400, 380 390 C370 380, 370 375, 380 365 C395 350, 395 345, 380 340 C370 330, 370 325, 380 315 C390 300, 390 295, 380 290 C370 280, 370 275, 380 265 C395 250, 395 245, 380 240 C370 230, 370 225, 380 215 C390 200, 390 195, 380 190 C370 180, 370 175, 380 165 L380 0 Z '); */
  /* }
  100% {
     */
    /* clip-path: path(' M0 0 L0 595 L380 595 C390 585, 390 580, 380 570 C370 560, 370 555, 380 550 C395 540, 395 535, 380 530 C370 520, 370 515, 380 510 C390 500, 390 495, 380 485 C375 475, 375 470, 380 460 C395 450, 395 445, 380 440 C370 430, 370 425, 380 415 C390 405, 390 400, 380 390 C370 380, 370 375, 380 365 C395 350, 395 345, 380 340 C370 330, 370 325, 380 315 C390 300, 390 295, 380 290 C370 280, 370 275, 380 265 C395 250, 395 245, 380 240 C370 230, 370 225, 380 215 C390 200, 390 195, 380 190 C370 180, 370 175, 380 165           L380 0 Z '); */
    /* clip-path: path(' M0 0 L0 595 L320 595 C390 585, 390 570, 380 550 C370 530, 370 515, 380 490 C395 470, 395 455, 380 440 C370 425, 370 410, 380 390 C395 370, 395 355, 380 340 C370 325, 370 310, 380 290 C395 270, 395 255, 380 240 C370 225, 370 210, 380 190 C380 165, 380 0, 380 0 Z '); */
    /* clip-path: path(' M20 0 C10 10, 10 15, 20 25 C30 35, 30 40, 20 50 C5 60, 5 65, 20 75 C35 85, 35 90, 20 100 C15 110, 15 115, 20 125 C25 135, 25 140, 20 150 C30 140, 30 155, 30 165 C10 175, 10 180, 20 190 C30 200, 30 205, 20 215 C5 225, 5 230, 20 240 C35 250, 35 255, 20 265 C15 275, 15 280, 20 290 C25 300, 25 305, 20 315 C10 325, 10 330, 20 340 C30 350, 30 355, 20 365 C5 375, 5 380, 20 390 C35 400, 35 405, 20 415 C15 425, 15 430, 20 440 C25 450, 25 455, 20 460 C10 470, 10 475, 20 485 C30 495, 30 500, 20 510 C5 520, 5 525, 20 530 C35 540, 35 545, 20 550 C15 560, 15 565, 20 570 C25 580, 25 585, 20 595 L380 595 C390 585, 390 580, 380 570 C370 560, 370 555, 380 550 C395 540, 395 535, 380 530 C370 520, 370 515, 380 510 C390 500, 390 495, 380 485 C375 475, 375 470, 380 460 C395 450, 395 445, 380 440 C370 430, 370 425, 380 415 C390 405, 390 400, 380 390 C370 380, 370 375, 380 365 C395 350, 395 345, 380 340 C370 330, 370 325, 380 315 C390 300, 390 295, 380 290 C370 280, 370 275, 380 265 C395 250, 395 245, 380 240 C370 230, 370 225, 380 215 C390 200, 390 195, 380 190 C370 180, 370 175, 380 165 L380 0 Z '); */
  /* }
} */











/* 

@keyframes sign-up-animation {
    0% {
    clip-path: path(' M0 1500        L1000 200 L100 300  L800 0    C0 0, 0 0, 0 0              C0 0, 0 0, 0 0            C0 0, 0 0, 0 0    C0 0, 0 0, 0 0        C0 0, 0 0, 0 0    L0 0 L0 0 L0 0       Z ');
  }
  50% {
    clip-path: path(' M0 1500       L800 0 L0 0  L0 0    C0 585, 0 570, 0 550              C0 325, 0 310, 0 290            C0 85, 0 0, 0 0   C0 0, 0 0, 0 0        C0 0, 0 0, 0 0    L0 0 L0 0 L0 0        Z ');
  }
  100% {
     clip-path: path(' M0 1500      L800 0 L0 0 L0 0   C500 100, 00 200, -300 100          C00 300, 0 0, 0 0    C0 0, 0 0, 0 0    C0 0, 0 0, 0 0        C0 0, 0 0, 0 0   L0 0 L0 0 L0 0      Z ');
  }
}

@keyframes sign-in-animation {
    0% {
     clip-path: path(' M0 1500      L800 0 L0 0 L0 0   C500 100, 00 200, -300 100           C00 300, 0 0, 0 0    C0 0, 0 0, 0 0   C0 0, 0 0, 0 0        C0 0, 0 0, 0 0    L0 0 L0 0 L0 0      Z ');
  }
  50% {
    clip-path: path(' M0 1500       L800 0 L0 0  L0 0    C0 585, 0 570, 0 550              C0 325, 0 310, 0 290            C0 85, 0 0, 0 0  C0 0, 0 0, 0 0        C0 0, 0 0, 0 0      L0 0 L0 0 L0 0       Z ');
  }
  100% {
    clip-path: path(' M0 1500        L800 0 L0 0  L0 0    C0 0, 0 0, 0 0              C0 0, 0 0, 0 0            C0 0, 0 0, 0 0      C30 495, 30 500, 20 510        C5 520, 5 525, 20 530       L0 570 L480 550 L480 0       Z ');
  }
}






 */











/* 

@keyframes sign-up-animation {
    0% {
clip-path: path('M0 0     L0 500     C500 450, 500 50, 500 0       L0 0 L0 0 L0 0      Z');
  }
  50% {
clip-path: path('M0 0     L0 500 L500 500       L500 0     L0 0 L0 0 L0 0      Z');
  }
  100% {
clip-path: path('M0 0     C0 50, 0 450, 0 500       L500 500 L500 0     L0 0 L0 0 L0 0      Z');

  }
}

@keyframes sign-in-animation {
    0% {
clip-path: path('M0 0     C0 50, 0 450, 0 500       L500 500 L500 0     L0 0 L0 0 L0 0      Z');
  }
  50% {
clip-path: path('M0 0     L0 500 L500 500       L500 0     L0 0 L0 0 L0 0      Z');
  }
  100% {
clip-path: path('M0 0     L0 500     C500 450, 500 50, 500 0       L0 0 L0 0 L0 0      Z');

  }
} */


















    /* clip-path: path(' M0 1500       L800 0 L0 0  L0 0           C0 0, 0 0, 0 0                             C0 0, 0 0, 0 0          L0 0 L480 550 L480 0             C0 520, 5 525, 20 530            L0 0 L0 0 L0 0            Z '); */



    
    /* clip-path: path(' M0 1500           L800 0 L0 0 L0 0     C500 505, -100 0, 0 0              C700 400, 600 600, 70 60            C0 0, 0 0, 0 0             Z '); */