.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.timeChangeButtonIcon {
  width: 26px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  user-select: none;
}
