.panel {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 10px;
    height: 100%;
}

.messageWall {
    flex-grow: 1;
    overflow-y: auto;
}

.actionArea {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden !important;
}
