.panel {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
    padding-bottom: 5px;
}

.messageWall {
    flex-grow: 1;
    /* overflow-y: auto; */
    height: 200px;
    outline: none;
    background-color: transparent;
    font-family: inherit;
}

.messageWall::-webkit-scrollbar {
    width: 6px !important;
    height: 20px !important;
}

.messageWall::-webkit-scrollbar-track {
    background: transparent;
}

.messageWall::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.messageWall::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.messageWall {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.initialUiContainer {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.chevron {
  display: inline-block;
  transition: transform 0.3s ease;
}

.chevron svg {
    margin-top: 3px;
    color: #8a8a8a;
}
.chevron.rotate {
  transform: rotate(90deg);
}


.chatBackAndName {
    display: flex;
    align-items: center;
    gap: 8px;
    /* margin-top: 10px; */
}

.onlineTitle {
    font-size: 13px;
    font-weight: 700;
    color: #707070;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    justify-content: center;
    z-index: 4;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 12px;
    font-weight: 500;
    color: #8a8a8a;
    margin-top: -5px;
    z-index: 4;
}

.profilePicture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 200ms;
    padding: 5px;
    border: 3px solid #f29b28;
    margin-right: 15px;
    z-index: 2;
}

.AiPicture {
    position: absolute;
    top: 2%;
    left: 57%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 200ms;
    padding: 2px;
    /* border: 2px solid #f1f1f1; */
    margin-right: 10px;
}

.chipStackContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 36px 0;
}

.infoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    width: 100%;
    color: #666666d8;
}

.actionArea {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden !important;
}
