.panel {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
    padding-bottom: 5px;
}

.messageWall {
    flex-grow: 1;
    /* overflow-y: auto; */
    height: 200px;
}

.messageWall::-webkit-scrollbar {
    width: 6px !important;
    height: 20px !important;
}

.messageWall::-webkit-scrollbar-track {
    background: transparent;
}

.messageWall::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.messageWall::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.messageWall {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}


.actionArea {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden !important;
}
