.panel {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 10px;
    height: 100%;
}

.messageWall {
    flex-grow: 1;
    overflow-y: auto;
}

.messageWall::-webkit-scrollbar {
    width: 6px !important;
    height: 20px !important;
}

.messageWall::-webkit-scrollbar-track {
    background: transparent;
}

.messageWall::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.messageWall::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.messageWall {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}


.actionArea {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden !important;
}

.actionWrapper {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: space-between;
    padding-right: 8px;
}

.sendButton {
    position: absolute;
    top: 90.5%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
