.chartContainer {
  position: relative;
  margin: auto;
  user-select: none;
}

.indicator {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #9e9e9e;
  font-size: 11px;
  font-weight: 600 !important;
}

.chartIndicator {
  composes: indicator;
  top: -12%;
}

.chartLabelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600 !important;
  color: #8a8a8aff;
}

.progressIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.progressIndicator span {
  line-height: 1;
  display: inline-flex;
  align-items: flex-start;
  padding: 0 !important;
}

.referenceIcon {
  position: absolute;
  font-size: 12px;
  color: #333;
  pointer-events: none;
}

