.chartContainer {
  position: relative;
  margin: auto;
  user-select: none;
}

.chartLabelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 600 !important;
    color: #8a8a8aff;
}