.overlay {
  position: fixed;
  top: 280px;
  left: 245px;
  display: flex;
  align-items: flex-end;
  z-index: 100000;
  font-size: 12px;
}

.popup {
  width: 70px;
  height: 45px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
