.totalScreenTimeSection {
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.headerSection {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  color: #333;
  line-height: 22px;
}

.chartContainer {
  display: flex;
  position: relative;
  transform: translateX(-14%);
  flex-direction: column;
  margin-top: 30px;
}

.timeLabels {
  display: grid;
  grid-template-columns: 60px repeat(12, 22px);
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
  margin-top: 5px;
}

.timeLabels span {
  text-align: center;
}

.gridContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 60px repeat(12, 20px);
  align-items: center;
  gap: 2px;
}

.dayLabel {
  font-size: 12px;
  color: #555;
  text-align: left;
  padding-right: 8px;
  display: flex;
  flex-direction: row-reverse;
}

.cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 16px;
  border-radius: 3px;
  background-color: #ebedf0;
  transition: background-color 0.3s;
}

.level0 { background-color: #f18f8f; }
.level1 { background-color: #b06ed5; }
.level2 { background-color: #7646e6; }
.level3 { background-color: #3b4ef2; }
.level4 { background-color: #0026fd; }

.cell:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.indicator {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #9e9e9e;
  font-size: 11px;
  font-weight: 600 !important;
}

.chartIndicator {
  composes: indicator;
  top: -12%;
  transform: translateX(138.5%);
}
