.totalTimeComparisonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.lastWeekSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.lastWeekSection span {
    font-weight: 500;
    padding-bottom: 8px;
    font-size: 14px;
    color: #8a8a8aff;
}

.prevWeekSection {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}