.actionWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 0px !important;
    align-items: end;
    justify-content: space-between;
}

.messageInputArea {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    resize: none;
    min-height: 30px;
    line-height: 20px;
    padding: 10px 8px 10px 10px; 
    overflow-y: hidden; 
    margin-bottom: 12px;
    width: 100%;
    max-height: 150px;
    box-sizing: border-box;
}

.editingHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.editingHeaderSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
