.pageText {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  height: 25.5px;
  user-select: none;
}

.pageNumber {
  padding: 4px 7px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  background: #f3f3f3;
}

.pageNumber:hover {
  background: #e4e4e4;
}
