.wrapper {
  position: relative;
  height: 84px;
  width: 100%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chip {
  height: 30px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5785e2;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  color: #111827;
  transform: translateY(-11px);
  width: fit-content;
  padding: 0px 24px;
  background: #bb7ee4e3;
  color: #ffffff;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15)
}

/* blur top & bottom */
.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 10;
  pointer-events: none;
}

.wrapper::before {
  top: 0;
  background: linear-gradient(to bottom, #f1f1f1, transparent);
}

.wrapper::after {
  bottom: 0;
  background: linear-gradient(to top, #f1f1f1, transparent);
}


