.wrapper {
  position: relative;
  height: 84px;
  width: 100%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
}
