.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.wall {
  flex: 1;
  overflow-y: auto;
  height: 96%;
  padding: 0px 8px 10px 10px; 
  margin-right: 1px;
}

.wall {
    transition: height 0.15s ease;
}

.wall::-webkit-scrollbar {
    width: 6px !important;
    height: 20px !important;
}

.wall::-webkit-scrollbar-track {
    background: transparent;
}

.wall::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.wall::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.wall {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.dateSeparator {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
  font-weight: 600;
  font-size: 12px;
  color: #777;
  user-select: none;
}

.message {
  display: flex;
  margin-bottom: 8px;
}

.user {
  justify-content: flex-end !important;
}

.bot {
  justify-content: flex-start !important;
}

.bubble {
  max-width: 80%;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  background: #fff;
  line-height: 18px;
}

.user .bubble {
  background: #dcf8c6;
  border: 1px solid #a2d5ab;
  border-bottom-right-radius: 2px;
}

.bot .bubble {
  background: #ffffff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 2px;
}

.time {
  display: block;
  font-size: 10px;
  color: #55555575;
  text-align: right;
  font-style: italic;
}

/* Typing indicator */
.typing {
  display: flex;
  gap: 4px;
  padding: 8px 12px;
  background: #fff;
  border-radius: 12px;
}

.typing span {
  width: 6px;
  height: 6px;
  background: #aaa;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

.actions {
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: 7px;
  margin-top: 5px;
  font-size: 12px;
  color: #555555d8;
  right: 2px;
  height: 18px;
}

.wallContainer {
  height: 100%;
}

.botIcon {
  display: inline-flex;
  margin-right: 6px; 
  vertical-align: middle;
  color: #555; 
  font-size: 16px; 
}

.profilePicture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 200ms;
  padding: 5px;
  border: 2px solid #f29b28;
  z-index: 2;
}

@keyframes blink {
  0% { opacity: 0.2; }
  20% { opacity: 1; }
  100% { opacity: 0.2; }
}
