.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 45.9vh;
    width: 100%;
    background-color: var(--flipbook-bg);
}

.book {
    overflow: auto;
}

.wrapper {
    overflow: auto;
    opacity: var(--flipbook-bg-opacity);
}
