.holeContainer {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}

.hole {
  width: 8px;
  height: 7px;
  border-radius: 30%;
  position: relative;
}

/* Add two lines (threads/bindings) */
.hole::before,
.hole::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: linear-gradient(to bottom, #7c7c7c,  #a3a3a3,   #d6d6d6,#a3a3a3, #7c7c7c);
  transform: translateY(-50%);
}

/* Line to the left */
.right .hole::before {
  top: -190%;
  left: 15px;
  transform: rotate(-90deg);
}

/* Line to the right */
.right .hole::after {
  top: -130%;
  left: 15px;
  transform: rotate(-90deg);
}

/* Line to the left */
.left .hole::before {
  top: -190%;
  left: -8px;
  transform: rotate(-90deg);
}

/* Line to the right */
.left .hole::after {
  top: -130%;
  left: -8px;
  transform: rotate(-90deg);
}