.holeContainer {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}

.hole {
  width: 8px;
  height: 7px;
  border-radius: 50%;
  background-color: #8f8f8f;
  position: relative;
}

/* Add two lines (threads/bindings) */
.hole::before,
.hole::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #8f8f8f;
  transform: translateY(-50%);
}

/* Line to the left */
.hole::before {
  top: -190%;
  left: -10px;
  transform: rotate(-90deg);
}

/* Line to the right */
.hole::after {
  top: -140%;
  left: -10px;
  transform: rotate(-90deg);
}