:root {
  --header-pin-icon-color: black;
  --active-bookmark-opacity: 1;
  --inactive-bookmark-opacity: 0.5;

  --flipbook-bg: #f1c40f;
  --flipbook-bg-opacity: 1;
  --flipbook-margin: 45px; 
  --flipbook-brightness: 1;
  --panel-header: #ffffff;
  --panel-header-name-color: #000000;
  --panel-body-bg: #f1f1f1ff;
  --note-panel-toolbar: #f1f1f1ff;
  --note-quill-item-color: #000000;
  --note-quill-item-background-hover-color: #0000001e;
  --undo-redo-action-button-border-color: #bbbbbbff;
  --undo-redo-action-button-bg-color: #d3d3d3ff;
  --undo-redo-action-button-hover-bg-color: #acacacff;
  --undo-redo-action-button-item-color: #3a3a3aff;
  --note-detail-bar-bg: #f1f1f1ff;
  --note-section-text-color: #666;
  --note-action-bg: #f1f1f1ff;
  --note-navigation-button-bg: #f3f3f3;
  --note-navigation-button-border-color: #e7e7e7;
  --note-navigation-button-hover-bg-color: #eeeeee;
  --note-settings-button-background-color: #f3f3f3;
  --note-settings-button-border-color: #e7e7e7;
  --note-clear-button-border-color: #e7e7e7;
  --note-delete-button-border-color: #e7e7e7;
  --note-navigation-highlighted-note-bg: #38320f2c;
  --note-navigation-non-heighlighted-button-text-color: #000000;
  --note-navigation-highlighted-note-number-hover-bg-color: #eeeeee;
  --note-settings-button-hover-bg-color: #eeeeee;
  --note-action-button-bg-color: #313131ff;
  --note-action-button-text-color: #ffffffff;
  --note-action-button-hover-bg-color: #8b8b8bff;
  --note-action-button-disabled-bg-color: #727272ff;
  --note-action-button-disabled-text-color: #ffffffff;
  --editor-bg-color: #ffffff;
  --editor-line-color: #bdbdbdff;

  --bookmark-section-text-color: #666;
  --bookmark-action-button-bg-color: #313131ff;
  --bookmark-action-button-text-color: #ffffffff;
  --bookmark-action-button-hover-bg-color: #eeeeee;
  --bookmark-action-button-disabled-bg-color: #929292;
  --bookmark-action-button-disabled-text-color: #000000;
  --bookmark-list-item-bg-color: #ecececff;
  --bookmark-list-item-hover-number-color: #474747ff;
  --bookmark-list-action-button-bg-color: #e0e0e0ff;
  --bookmark-thumbnail-section-header-bg-color: #646464;
  --bookmark-list-action-button-color:#3b3b3b;
  --bookmark-list-action-button-hover-bg-color:#c5c5c5;
  --bookmark-page-preview-border-color: #5e5e5eff;
  --bookmark-page-preview-header-text-color: #fff;

  --book-reading-board-side-button-bg-color: #fff;
  --book-reading-board-side-button-text-color: #333;

  --appearance-action-button-bg-color: #313131ff;
  --appearance-action-button-text-color: #ffffffff;
  --appearance-action-button-hover-bg-color: #8b8b8bff;
  --appearance-action-button-disabled-bg-color: #727272ff;
  --appearance-action-button-disabled-text-color: #ffffffff;
  --appearance-section-text-color: #000000ff;
  --appearance-section-sub-text-color: #252525ff;
  --appearance-color-picker-button-border-color: #888888;
}
