:root {
  --flipbook-bg: #f1c40f;
  --flipbook-margin: 45px; 
  --flipbook-brightness: 1;
  --panel-header: #ffffff;
  --panel-header-name-color: #000000;
  --panel-body-bg: white;
  --note-panel-toolbar: #fff;
  --note-quill-item-color: #000000;
  --note-quill-item-background-hover-color: #0000001e;
}
