:root {
  --flipbook-bg: #f1c40f;
  --flipbook-margin: 45px; 
  --flipbook-brightness: 1;
  --panel-header: #ffffff;
  --panel-header-name-color: #000000;
  --panel-body-bg: white;
  --note-panel-toolbar: #fff;
  --note-quill-item-color: #000000;
  --note-quill-item-background-hover-color: #0000001e;
  --undo-redo-action-button-border-color: #e7e7e7;
  --undo-redo-action-button-bg-color: #f3f3f3;
  --undo-redo-action-button-hover-bg-color: #eeeeee;
  --undo-redo-action-button-item-color: #2b2b2b;
  --note-detail-bar-bg: #f9f9f9;
  --note-section-text-color: #666;
  --note-action-bg: #f9f9f9;
  --note-navigation-button-bg: #f3f3f3;
  --note-navigation-button-border-color: #e7e7e7;
  --note-navigation-button-hover-bg-color: #eeeeee;
  --note-settings-button-background-color: #f3f3f3;
  --note-settings-button-border-color: #e7e7e7;
  --note-clear-button-border-color: #e7e7e7;
  --note-delete-button-border-color: #e7e7e7;
  --note-navigation-highlighted-note-bg: #38320f2c;
  --note-navigation-non-heighlighted-button-text-color: #000000;
  --note-navigation-highlighted-note-number-hover-bg-color: #eeeeee;
  --note-settings-button-hover-bg-color: #eeeeee;
  --note-action-button-bg-color: #494949;
  --note-action-button-text-color: #666;
  --note-action-button-hover-bg-color: #eeeeee;
  --note-action-button-disabled-bg-color: #929292;
  --note-action-button-disabled-text-color: #000000;
  --editor-bg-color: #ffffff;
  --editor-line-color: #bdbdbdff;

  --bookmark-section-text-color: #666;
  --bookmark-action-button-bg-color: #313131ff;
  --bookmark-action-button-text-color: #ffffffff;
}
