.noteWrapper {
  background: #fff;
  height: -webkit-fill-available !important;
  display: flex;
  flex-direction: column;
  color: black;
}

.noteActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor {
  flex: 1;
  padding-top: 16px;
}

.customToolbar {
  border: none !important;
  background: #fff;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 64px !important;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
}

.undoRedoBtns {
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  margin-right: 5px;
  background-color: #f3f3f3;
}

.undoRedoBtns:hover {
  background-color: #eeeeee;
}

.noteNavigation{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigationIcons {
  margin: 0 5px;
  border-radius: 5px;
  height: 20px;
  padding: 5px 3px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navigationIcons:hover {
  background-color: #eeeeee;
  color: #2c2c2c;
}

.pageText {
  font-size: 14px;
  font-weight: 500;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #494949;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  padding: 5px;
  border-radius: 5px;
  height: 20px;
  background-color: #f3f3f3;
}

.settings:hover {
  background-color: #eeeeee;
  color: #2c2c2c;
}

.noteContentActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.noteContentActions button {
  padding: 8px 20px;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  background-color: #494949;
  color: white;
  width: 100%;
}

.popup {
  position: absolute;
  top: 130px; /* adjust based on your layout */
  right: 0px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  width: 160px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  line-height: 1.4;
  font-size: 14px;
}

.popupBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sliderWrapper {
  position: relative;
  padding: 20px 10px 10px;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Style the slider track */
.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 3px;
  background: #ddd;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

/* Track for Firefox */
.slider::-moz-range-track {
  background: #ddd;
  height: 6px;
  border-radius: 3px;
}

/* Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 2;
  margin-top: -1px; /* center the thumb */
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  transition: background 0.3s;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #007bff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  transition: background 0.3s;
}

/* Thumb hover effect */
.slider:hover::-webkit-slider-thumb {
  background: #0056b3;
}

.slider:hover::-moz-range-thumb {
  background: #0056b3;
}
